<?php
$result = $block->getProductCollectionFromCategory(3);

?>
<div class="block widget block-products-list grid">
    <div class="block-title">
        <strong> <b> <?php echo $result['category']->getName(); ?> </b></strong>
                <a href="<?php echo $result['category']->getUrl(); ?>" class="product-item-photo"><?php echo "View All"; ?></a>
     </div>
    <div class="block-content">
    <div class="products-grid grid">
        <ol class="product-items widget-product-grid">
        <?php
            foreach ($result['categoryProducts'] as $product) {
                $priceDetails = $block->getPriceRange($product->getId());
        ?>
        <li class="product-item"> 
            <div class="product-item-info">
            <a href="<?php echo $product->getProductUrl();?>" class="product-item-photo">
                <span class="product-image-container product-image-container-9" style="width: 240px;">
                <span class="product-image-wrapper" style="padding-bottom: 125%;">
                    <img class="product-image-photo" src="<?php echo $block->getImage($product->getId());?>" loading="lazy" width="240" height="300" alt="hell7"></span>
                </span>
                <style>
                    .product-image-container-9 {
                        width: 240px;
                    }
                    .product-image-container-9 span.product-image-wrapper {
                        padding-bottom: 125%;
                    }
                </style>
                <script type="text/javascript">
                    prodImageContainers = document.querySelectorAll(".product-image-container-9");
                    for (var i = 0; i < prodImageContainers.length; i++) {
                        prodImageContainers[i].style.width = "240px";
                    }
                    prodImageContainersWrappers = document.querySelectorAll(
                        ".product-image-container-9  span.product-image-wrapper"
                    );
                    for (var i = 0; i < prodImageContainersWrappers.length; i++) {
                    prodImageContainersWrappers[i].style.paddingBottom = "125%";
                    }
                </script> 
            </a>
            <div class="product-item-details">
            <strong class="product-item-name">
                <a title="<?php echo $product->getName();?>" href="<?php echo $product->getProductUrl();?>" class="product-item-link"><?php echo $product->getName();?> </a>
            </strong>
                <div class="price-box price-final_price" data-role="priceBox" data-product-id="9" data-price-box="product-id-9">
                              
                <p class="price-from">       

                <span class="price-container price-final_price tax weee">
                <span class="price-label">From</span>
                <span id="old-price-48-widget-product-grid" data-price-amount="1200" data-price-type="minPrice" class="price-wrapper ">
                <span class="price"><?php echo $priceDetails['min']; ?></span></span>
                </span>
                    </p>
                    <p class="price-to">


                <span class="price-container price-final_price tax weee">
                <span class="price-label">To</span>
                <span id="old-price-48-widget-product-grid" data-price-amount="150000" data-price-type="maxPrice" class="price-wrapper "><span class="price"><?php echo $priceDetails['max']; ?></span></span>
                </span>
            </p>
               
            </div>
            <div class="product-item-inner">
            <div class="product-item-actions">
            <div class="actions-primary">
                <form data-role="tocart-form" data-product-sku="helloou-19" action="http://localhost/empmage/checkout/cart/add/uenc/aHR0cDovL2xvY2FsaG9zdC9lbXBtYWdlLw%2C%2C/product/9/" method="post" novalidate="novalidate">
                    <input type="hidden" name="product" value="9">
                    <input type="hidden" name="uenc" value="aHR0cDovL2xvY2FsaG9zdC9lbXBtYWdlL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMnh2WTJGc2FHOXpkQzlsYlhCdFlXZGxMdyUyQyUyQy9wcm9kdWN0Lzkv">
                    <input name="form_key" type="hidden" value="RO02fHmljLCQum6T">  
                    <button type="submit" title="See More Details" class="action tocart primary">
                    <span>See More Details</span>
                    </button>
                </form>
            </div>
            <div class="actions-secondary" data-role="add-to-links">
                <a href="#" data-post="{&quot;action&quot;:&quot;http:\/\/localhost\/empmage\/wishlist\/index\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:9,&quot;uenc&quot;:&quot;aHR0cDovL2xvY2FsaG9zdC9lbXBtYWdlLw,,&quot;}}" class="action towishlist" data-action="add-to-wishlist" title="Add to Wish List">
                <span>Add to Wish List</span></a>
            </div>
            </div>
             </div>
             </div>
            </div>
        </li>
        <?php  } ?>
        </ol>
    </div>
    </div>
</div>

