<div class="menu footer content">
    <div class="menu__column links">
        <h4><?php echo __('Shop')?></h4>
        <ul>
            <li><a href="http://20.76.184.79/contact/"><?php echo __('Tariff Plans')?></a></li>
            <li><a href="http://20.76.184.79/contact/"><?php echo __('Data Bundles')?></a></li>
            <li><a href="#"><?php echo __('Combo plans')?></a></li>
            <li><a href="#"><?php echo __('Google & credit plans')?></a></li>
            <li><a href="#"><?php echo __('Social media plans')?></a></li>
            <li><a href="#"><?php echo __('CUG')?></a></li>
        </ul>
    </div>
    <div class="menu__column links">
        <h4><?php echo __('Business Solutions')?></h4>
        <ul>
            <li><a href="#" title="<?php echo __('Fleet management')?>"><?php echo __('Fleet management')?></a></li>
            <li><a href="#" title="<?php echo __('Broadband')?>"><?php echo __('Broadband')?></a></li>
           
        </ul>
    </div>
    <div class="menu__column links">
        <h4><?php echo __('Legal Information')?></h4>
        <ul>
            <li><a href="#" title="<?php echo __('Terms & conditions')?>"><?php echo __('Terms & conditions')?></a></li>
            <li><a href="#" title="<?php echo __('Privacy policy')?>"><?php echo __('Privacy policy')?></a></li>
            <li><a href="#" id="open-map" title="<?php echo __('Cancellation & return policy')?>"><?php echo __('Cancellation & return policy')?></a></li>
        </ul>
    </div>
    <div class="menu__column links">
        <h4><?php echo __('Help')?></h4>
        <ul>
            <li><a href="#" title="<?php echo __('Find a store')?>"><?php echo __('Find a store')?></a></li>
            <li><a href="#" title="<?php echo __('Track order')?>"><?php echo __('Track order')?></a></li>
            <li><a href="#" id="open-map" title="<?php echo __('FAQ`s')?>"><?php echo __('FAQ`s')?></a></li>
            <li><a href="#" id="open-map" title="<?php echo __('Feedback')?>"><?php echo __('Feedback')?></a></li>
        </ul>
    </div>
</div>


